body {
  background-color: rgb(80, 79, 79);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.container {
  display: flex;

  flex-direction: column;
  position: absolute;
  left: 650px;
  top: 150px;
}
.text_calc {
  color: white;
  font-size: 50px;
}
.input1 {
  position: absolute;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  height: 30px;
  width: 500px;
  top: 130px;
}

.input2 {
  border-radius: 10px;
  position: absolute;
  top: 200px;
  height: 30px;
  width: 500px;
  border-color: white;
  border-style: solid;
}
.plus {
  position: absolute;
  color: white;
  border-style: solid;
  top: 250px;
  left: 10px;
  font-size: 20px;
  background-color: rgb(27, 185, 27);
  border-radius: 6px;
  border-color: rgb(27, 185, 27);
  height: 30px;
  width: 220px;
  cursor: pointer;
}
.minus {
  position: absolute;
  color: white;
  border-style: solid;
  top: 250px;
  left: 260px;
  font-size: 20px;
  background-color: red;
  border-radius: 6px;
  border-color: red;
  height: 30px;
  width: 220px;
  cursor: pointer;
}
.multiply {
  position: absolute;
  color: white;
  border-style: solid;
  top: 300px;
  left: 10px;
  font-size: 20px;
  background-color: purple;
  border-color: purple;
  border-radius: 6px;
  height: 30px;
  width: 220px;
  cursor: pointer;
}
.divide {
  position: absolute;
  color: white;
  border-style: solid;
  top: 300px;
  left: 260px;
  font-size: 20px;
  background-color: orange;
  border-color: orange;
  border-radius: 6px;
  height: 30px;
  width: 220px;
  cursor: pointer;
}
.schet {
  position: absolute;
  background: none;
  border-style: solid;
  border-radius: 7px;
  border-color: rgb(49, 49, 255);
  cursor: pointer;
  top: 350px;
  width: 500px;
  height: 30px;
}
.schet:hover {
  background-color: rgb(49, 49, 255);
}

.result {
  display: flex;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  background-color: white;
  width: 500px;
  height: 130px;
  top: 400px;
}

.result_int {
  white-space: nowrap;
  height: 10px;
  width: 70px;
  border: none;
  position: absolute;
  top: 30px;
  left: 215px;
}
